.background-img {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.background-img::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../public/TelUniv.JPG");
  background-size: cover;
  background-position: center;
  filter: blur(7px);
  z-index: -1;
  transform: scale(1.1);
}

header a {
  text-decoration: none;
  margin-left: 15px;
  font-size: 16px;
  background-color: red;
  border-radius: 7px;
  padding: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header a:hover {
  background-color: rgb(194, 0, 0);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.root-layout-header {
  display: flex;
  align-items: center;
}

.root-layout-header h1 {
  margin: 0;
  font-size: 1.5em;
  text-decoration: none;
  color: white;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav a {
  text-decoration: none;
  border: 3px solid red;
  background-color: transparent;
  font-weight: bold;
  margin-left: 30px;
  font-size: 16px;
  padding: 10px;
  color: black;
}

nav a:hover {
  background-color: red;
  color: white;
  border-radius: 5px;
}

nav a::before {
  position: absolute;
  right: -15px;
  opacity: 0;
  transition: opacity 0.3s;
}

nav a:hover::before {
  opacity: 1;
}

nav button {
  background-color: transparent;
  color: white;
  margin-left: 30px;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

nav button:hover {
  background-color: crimson;
  color: white;
}

/* === FORM CARD (PAGES) === */
.card {
  position: relative;
  z-index: 1;
  width: 400px;
  padding: 40px;
  border-radius: 8px;
  border: 1.5px solid red;
  background-color: #ffffff65;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card h2 {
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #3d3d3d;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-btn {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 20px;
  font-size: 15px;
  width: 30%;
  background-color: red;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.error-message {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

/* === MAIN PAGE CSS (TeluBlogPage) === */